{% extends 'base.html.twig' %}

{% block title %}Cadastro{% endblock %}

{% block body %}
    <h3 class="display-4">Selecione a Opção de Cadastro</h3> <br>
    <form action="">
        <p>
            <select name="selecao" onchange="location = this.value" class="custom-select">
                <option value="">Selecione a Opção</option>
                <option value="{{ path('new-pfisica') }}">Pessoa Fisica</option>
                <option value="{{ path('new-pjuridica') }}">Pessoa Juridica</option>
            </select>
        </p>
    </form>


{% endblock %}
